<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCAmeraUsageDescription</key>
	<string>This app needs camera access to take photos of scavenger hunt items.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UI Image Name</key>
		<string>LaunchImage</string>
	</dict>
	<key>UiColorName</key>
	<string>LaunchColor</string>
</dict>
</plist>
